@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

:root {
  --fnts: "DM Serif Display", serif;
}

body {
  background-image: url(./img/bg.jpg);
  background-attachment: fixed;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: var(--fnts);
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.convertor {
  background-color: white;
  padding: 0.5rem 2rem 2rem 2rem;

  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.582);
}

.result_container {
  line-height: 2rem;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #333333b5;
}

.convertor label {
  display: block;
}

.convertor input,
.convertor select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;

  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #333333b5;
}

.exchange_container {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
  margin-top: 2rem;
}

.convert_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 12px 30px 12px 30px;
  background: #050d9cde;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 2rem;

  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 10px;

  box-shadow: 0 0 2px #0e0f1cac;
}

button:hover {
  background: #27427a;
}

#result {
  font-size: 1em;
  width: 100%;
  padding: 8px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
